@use '../../../sass/abstracts/mixins' as m;
.navbar {
  background: #2070CC;

  a {
    color: white;
  }
}

.header-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-start;

  .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

}

.navbar-brand {
  margin:0 10px !important; 
}

.nav-dropdown {
  position: fixed;
  right: 2em;
}


.login-form {
  display: flex;
  float: right;
  position: fixed;
  right: 2em;
  align-items: center;

  &__input {
    margin-right: 1em;
  }

  &__login-btn, &__register-btn {
    width: 36%;
    margin-right: 1em;
  }
}

.dropdown-menu.show {
  inset: 100% auto auto -52% !important;
  background: #2070CC !important;

  .dropdown-item:focus, .dropdown-item:hover {
    font-weight: bold;
    background-color: #2070CC !important;
}
}