.header-container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: flex-start;
}

.navbar-brand {
  margin:0 10px !important; 
}

.nav-dropdown {
  position: fixed;
  right: 2em;
}

.login-form {
  display: flex;
  float: right;
  position: fixed;
  right: 2em;
  height: 2.5rem;

  &__input {
    margin-right: 1em;
  }

  &__login-btn, &__register-btn {
    width: 36%;
    margin-right: 1em;
  }
}