 <section class="sign-up">
      <div class="col-xl-6">
        <div class=" mt-4">
            <h2 class="border-bottom pb-4 exo" style="text-align: center;">Sign Up</h2>
            <form action="register" method="post">
              <div class="form-group">
                <label>Name</label> <br> <input
                    style="width: 48%; display: inline-flex; margin-right: 4%;" name="fName"
                    type="text" class="form-control col-6" placeholder="First Name"
                    required> <input
                    style="width: 48%; display: inline-flex;" name="lName"
                    type="text" class="form-control" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <label>DOB</label> <br> <input
                  style="width: 32%; display: inline-flex; margin-right: 4%;" name="DOB"
                  type="date" class="form-control" placeholder="DOB"
                  required> <input
                  style="width: 28%; display: inline-flex; margin-right: 4%;" name="Gender"
                  type="text" list="gender" class="form-control" placeholder="Gender" required>
                  <datalist id="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Prefer not to say</option>
                    </datalist> 
                  <input
                  style="width: 32%; display: inline-flex;" name="Nationality"
                  type="text" class="form-control" placeholder="Nationality" required>
          </div>
          <div class="form-group">
            <label>Address</label> <br> <input
                style="width: 32%; display: inline-flex; margin-right: 4%;" name="Street"
                type="text" class="form-control" placeholder="Street"
                required> <input
                style="width: 28%; display: inline-flex; margin-right: 4%;" name="City"
                type="text" class="form-control" placeholder="City" required>
                <input
                style="width: 32%; display: inline-flex;" name="Country"
                type="text" class="form-control" placeholder="Country" required>
        </div>
        <div class="form-group">
          <label>Contact</label> <br> <input
              style="width: 48%; display: inline-flex; margin-right: 4%;" name="Phone"
              type="number" class="form-control" placeholder="Phone"
              required> <input
              style="width: 48%; display: inline-flex;" name="Email"
              type="text" class="form-control" placeholder="Email" required>
      
      </div>
      <div class="form-group">
        <label>Driver License</label> <br> <input
            style="width: 32%; display: inline-flex; margin-right: 4%;" name="License Number"
            type="text" class="form-control" placeholder="License Number"
            required> <input
            style="width: 28%; display: inline-flex; margin-right: 4%;" name="Country Issue"
            type="text" class="form-control" placeholder="Country Issue" required>
            <input
            style="width: 32%; display: inline-flex;" name="Date Issued"
            type="text" class="form-control" placeholder="Date Issued" required>
    </div>
    <div class="form-group">
      <label>Password</label> <br> <input
          style="width: 48%; display: inline-flex; margin-right: 4%;" name="Password"
          type="text" class="form-control" placeholder="password"
          required> <input
          style="width: 48%; display: inline-flex;" name="Re-enter Password"
          type="text" class="form-control" placeholder="Re-enter Password" required>
      </div>
            <br>
            <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
</div>
</section> 
