/npm-debug.log* 
/e2e.log 
/artifacts 
node_modules 
dist 
.tmp 
.sass-cache 
bower_components 
.idea/ 
**/*.orig 
*.base.* 
*.remote.* 
*.local .* 
**/.DS_Store 
.vscode/* 
.angulardoc.json 
# Miscellaneous 
/.angular/cache  
test/coverage/* 
 
 
views/**/*.js.map 
views/**/*.js 
components/**/*.js.map 
components/**/*.js 
 
components/**/config.templates.* 
components/**/constants.* 
 
.tscache/**/*.* 
 
 
assets 
assets/** 
assets/bundle.js 
assets/vendor.bundle.js 
 
*.map 
vendor.js.map 
vendor.js 
typings/* 
!typings/cc.d.ts 
images/sprite_inline.svg 
images/cp 
/stats.json 
/report.html 
/yarn-error.log 
.prettierrc