<div class="wrapper">
  <h1>Privacy Policy</h1>

  <p>Miles is committed to respecting your privacy as well as protecting your personal information, which means:
  </p>

  <ul>
    <li>We will be transparent about what information we are collecting and for which purpose.</li>
    <li>We will use this information solely for the purposes described in this document.
    </li>
    <li>We put in place all reasonable measures to protect your information and keep it safe and secure.
    </li>
    <li>We will respect your data protection rights and in particular allow you to inspect the processing, correction or ask for removal of your personal data.
    </li>
    <li>We encourage you to read this policy carefully and to contact us with any questions or concerns about our privacy practices.
    </li>
  </ul>

  <p>To allow the execution of the rental contracts we will collect the following data when you will register to our service or reserve a car using our App or the booking website:</p>

  <ul>
    <li>Name</li>
    <li>Email address</li>
    <li>Date of birth</li>
    <li>Nationality</li>
    <li>Gender</li>
    <li>Postal code</li>
    <li>Address</li>
    <li>Mobile phone number</li>
    <li>An electronic copy of your driver licence</li>
    <li>Credit card details</li>
  </ul>

  <p>Whenever you interact with our App or our booking website your activity is logged to allow our support team to help you should you encounter any issue in using them.
    GPS trackers are installed in all our cars and used solely to prevent any criminal acts on the vehicles.
    Your personal data are collected, processed and used only to the extent this is necessary to enable the execution of the rental agreement and its associated service.
    All personal data except the credit card details are securely stored on our servers</p>

    <p>Our employees have access to personal data on a need-to-know basis only, which means only to the information essential to perform their duties.
      Your identification and driver licence documents as well as credit card details are deleted after they have been expired.</p>
    <p>The logs collected during interactions with the App or the booking website are destroyed after six (6) months.
    </p>
    <p>If you have not used the service for two (2) consecutive years we will send you an email to ask if you want to keep your account active.
      If we receive no answer after two reminders we will delete your account and associated personal data.
     </p>
     <p>We reserve the right to update and revise this Privacy Policy at any time and from time to time, as it deems necessary or appropriate. </p>
</div>