.car-list-container {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 4%;
}

.car-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}


#searchBar, label {
  color: black !important;
} 

.cars-space {
  gap: 20px;
  app-card-car {
    margin: 10px;
  }
}
