@use '../../../sass/abstracts/variables' as c;

.profile-wrapper {
  padding: 30px;
  margin: 30px;
  background: #F5F5F5;
  .user-info-header {
    display: flex;
    align-items: center;

    &__title {
      margin-right: 6px;
    }

    &__icon-box {
      display: flex;
      align-items: center;
      border: 1px solid c.$dark-grey;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      justify-content: center;
      padding: 14px;
      .bi-pencil {
        color: #2C87F0;
      }
    }

    &__icon-box:hover {
      background: #E0E0E0;
    }
  }

  .user-info, .edit-password {
    padding: 10px;

    .user-info__label {
      font-size: 18px;
      flex-basis: 140px;
    }

    .edit-password__label {
      font-size: 18px;
      flex-basis: 180px;
    }

    .input-container-row {
      display: flex;
      margin-bottom: 6px;
    }

    .user-info-name {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    .input-container-row > input {
      border: 1px solid c.$dark-grey;
      border-radius: 4px;
      padding: 0px 8px;
      width: 20%;
    }
    
    &__alert {
      color: #c5404c;
    }
  }

  button {
    margin:8px;
  }

  .user-license-container {
    display: grid;
    grid-template-columns: 50% 50%;

    .license {
      display: flex;
    }
  }

}

.divider {
  border-bottom: 1px solid #bbb;
}