<div class="profile-wrapper" *ngIf="profile">
  <div class="user-info-container">
    <div class="user-info-header">
      <h3 class="user-info-header__title">User info</h3>
      <div class="user-info-header__icon-box">
        <i class="bi bi-pencil" (click)="callEditMode('userInfo')"></i>
      </div>
    </div>
    <ng-container *ngIf="updateInfoPops.userInfo; then editUserInfo; else userInfo"></ng-container>
    <ng-template #userInfo>
      <div class="user-info">
        <div class="input-container-row">
          <label class="user-info__label">email: </label>
          <span>{{profile.email}}</span>
        </div>
        <div class="input-container-row">
          <label class="user-info__label">Name: </label>
          <span>{{profile.firstName}} {{profile.lastName}}</span>
        </div>
        <div class="input-container-row">
          <label class="user-info__label">Contact: </label>
          <span>{{profile.phone}}</span>
        </div>
        <div class="input-container-row">
          <label class="user-info__label">Date of Birth: </label>
          <span>{{profile.DOB}}</span>
        </div>
        <div class="input-container-row">
          <label class="user-info__label">Address: </label>
          <span>
            {{profile.address.street}}&nbsp;
            {{profile.address.city}}&nbsp;
            {{profile.address.province}}&nbsp;
            {{profile.address.postalCode}}&nbsp;
          </span>
        </div>
      </div>
    </ng-template>
    <ng-template #editUserInfo>
      <div class="user-info">
        <div class="input-container-row">
          <label class="user-info__label">First Name: </label>
          <input 
            [(ngModel)]="profile.firstName"
            type="text"
            required  
          />
        </div>
        <div class="input-container-row">
          <label class="user-info__label">Last Name: </label>
          <input 
            [(ngModel)]="profile.lastName"
            type="text"
            required 
          />
        </div>
        <div class="input-container-row">
          <label class="user-info__label">Contact: </label>
          <input 
            [(ngModel)]="profile.phone"
            type="number"
            maxlength="10"
            required 
          />
        </div>
        <div class="input-container-row">
          <label class="user-info__label">Street: </label>
          <input 
            [(ngModel)]="profile.address.street"
            type="text"
            required  
          />
        </div>
        <div class="input-container-row">
          <label class="user-info__label">City: </label>
          <input 
            [(ngModel)]="profile.address.city"
            type="text"
            required 
          />
        </div>
        <div class="input-container-row">
          <label class="user-info__label">Country: </label>
          <input 
            [(ngModel)]="profile.address.country"
            type="text"
            required 
          />
        </div>
        <button type="button" class="btn btn-primary" (click)="updateUserInfo()">Save</button>
        <button type="button" class="btn btn-secondary" (click)="callEditMode('userInfo')">Cancel</button>
      </div>
    </ng-template>
  </div>

</div>