.booking {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
}

h4 { margin: 0}

.booking-card {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  box-shadow: 2px 2px 40px rgba(0, 0, 0, 0.15);
}

.desc-space {
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  h4 {margin-bottom: 20px;}
  .dir-col {
    justify-content: space-around;
  }
}

button {margin-top: 20px;}

.desc-space {
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  h4 {margin-bottom: 20px;}
  .dir-col {
    justify-content: space-around;
  }
}
.step-space {
  justify-content: flex-start;
  align-items: center;
}
.step {
  width: max-content;
  padding: 8px 15px;
  border-radius: 25px;
  background-color: #ffc107;
  color: #0d6efd;
  font-weight: 800;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 15px;
}