<section class="contact-us-space">
  <h2 class="exo">Contact Us</h2> 

  <section class="dir-row info">
    <div class="dir-col">
      <h4 class="exo blue"><b>Company Information:</b></h4>
      <h6 class="exo"><b>Address: 941 Progress Ave, Scarborough, ON M1G 3T8</b></h6>
      <h6 class="exo"><b>Phone: (416) 289-5000</b></h6>
      <h6 class="exo"><b>Email: customer-service@miles.com</b></h6>
      <h6 class="exo"><b>24/7 Customer Support</b></h6>
    </div>
  
         
    <div>
        <!-- <google-map  [options]="optionsofMap">
            <map-marker [position]="userMarker.position" [options]="userMarker.options">
            </map-marker>
        </google-map>     -->
      <img src="../../../assets/map.png" alt="" width="76%" style="min-width: 200px">

    </div>
  </section> 

</section>
