.contact-us-space {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
}

.info {
  width: 60%;
  gap: 40px;
  justify-content: center;
  .dir-col {
    gap: 20px;
  }
}