/* You can add global styles to this file, and also import other style files */
@use './sass/abstracts/font';
@use './sass/abstracts/mixins';
@use './sass/abstracts/variables';

.exo {  font-family: 'Exo', serif !important; } //Exo

.dir-col {
  display: flex;
  flex-direction: column;
}
.dir-row {
  display: flex;
  flex-direction: row;
}

