/* You can add global styles to this file, and also import other style files */
@use './sass/abstracts/font';
@use './sass/abstracts/mixins';
@use './sass/abstracts/variables';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';

.exo {  font-family: 'Exo', serif !important; } //Exo

.dir-col {
  display: flex;
  flex-direction: column;
}
.dir-row {
  display: flex;
  flex-direction: row;
}

.blue {
  color: #0d6efd;
}
//Remove Arrows/Spinners for input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


body { 
  padding-top: 65px; 
}
